@use 'variaveis';
@use 'hero';
@use 'sobre';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    color: variaveis.$corDaFonte;
}

body{
    background: variaveis.$backgroundColor;
}

h2{
        padding-bottom: 15px;
        font-size: 30px;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
}

h3{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;
    color: variaveis.$corDoBotao;
}

header{
    overflow: hidden;
}

button{
    background-color:variaveis.$corDoBotao;
    border: none;
    color: variaveis.$corSecundaria;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 24px ;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
        background-color:variaveis.$corHover;
    }
}

