
//cores

$corDaFonte: #fff;
$corSecundaria: #000;
$corDoBotao: #f4abdb;
$corHover: #b0e4fe;
$backgroundColor: linear-gradient(180deg, rgba(0,0,0,1) 80%, rgb(30, 31, 31) ); 
$gradientone: rgba(0, 168, 253);
$gradienttwo:#e00a95;
